@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

:root {
    --primary-color: #5f1a87;
}

html {
    font-size: 62.50%;
}
body {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
    font-family: Roboto, sans-serif;
    color: rgb(0 0 0);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.7;
}
.main-heading {
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 700;
}
.ml-auto {
    margin-left: auto;
}
.navbar {
    padding: 2.5rem 0;
}
.navbar .navbar-nav .nav-link {
    color: rgb(0 0 0 / 91%);
    padding: 1rem 2rem;
    font-size: 1.6rem;
}
.navbar .navbar-nav .dropdown-item {
    font-size: 1.5rem;
    padding: 0.5rem;
    color: #000 !important;
    font-weight: 500;
}

.navbar-brand img {
    max-height: 30px;
    width: auto;
}
.dropdown-menu {
    box-shadow: 0 1px 4px rgb(5 5 5 / 29%);
    padding: 1rem 1rem;
}
.carousel-inner {
    max-height: 500px;
}
.btn-primary {
    padding: 0.70rem 1.6rem;
    font-size: 1.6rem;
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    margin-top: 2rem;
}
.btn-primary.outline.white {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}

.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}

.ptb-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.pb-10 {
    padding-bottom: 10rem;
}
.ptb-12 {
    padding-top: 12rem;
    padding-bottom: 12rem;
}
.mt-6 {
    margin-top: 6rem;
}
.card {
    padding: 3rem 1rem;
    height: 100%;
}
.card h2 {
    margin-bottom: 1rem;
    font-weight: 600;
}
.card .icon img {
    max-height: 60px;
    width: auto;
    margin-bottom: 2rem;
}

.portfolio {
    background-color: #f0f1f2;
    padding: 5rem 0;
}
.portfolio-details {
    background: #ddd;
}
.portfolio .image-wrap {
    margin: 3rem auto;
}
.large-heading {
    font-size: 4rem;
}
.bg-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
.overlay-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #0000006e;
}
.page-title {
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-size: cover;
    background-position: center;
}
.page-title h1 {
    font-size: 4rem;
    font-weight: 500;
}
footer {
    background-color: #010413;
    padding: 6rem 0 3rem;
    color: #fff;
}
.widget .title {
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.widget ul li a {
    text-decoration: none;
    color: #ffffffd4;
    font-size: 1.4rem;
}
.box-wrap {
    border: 1px solid #aeaeae;
    padding: 2rem;
    box-shadow: 3px 4px 3px rgb(0 0 0 / 10%);
}
.box-wrap-1 {
    background-color: #ededed;
    padding: 2rem;
}
.box-wrap ul li,
.box-wrap-1 ul li {
    list-style-type: none;
}
.box-wrap ul li,
.box-wrap-1 ul li {
    margin-bottom: 0.80rem;
}
.box-wrap ul li i,
.box-wrap-1 ul li i {
    font-size: 12px;
    margin-right: 4px;
}
.contact-wrap h2 {
    margin-bottom: 2rem;
    font-size: 3.5rem;
    font-weight: 600;
}
.contact-wrap input,.contact-wrap textarea  {
    border: 1px solid #d5d6de;
    height: 50px;
    width: 100%;
    padding: 14px;
    margin: 1.5rem 0;
}
::placeholder {
    color: #595959;
}
.contact-wrap textarea {
    height: 210px;
}
.small-text {
    font-size: 14px;
    color: #a7a9b8;
}
.float-right {
    float: right;
}